* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

.mv {
  ul {
    li {
      width: 100%;
      height: 200px;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
    }
    .mv1 {
      background-image: url(../img/box1.jpg);
    }
    .mv2 {
      background-image: url(../img/box2.jpg);
    }
    .mv3 {
      background-image: url(../img/box3.jpg);
    }
    .mv4 {
      background-image: url(../img/box4.jpg);
    }
  }
}
